<div class="navigation">
  <div class="navigation__navbar">
    <nav class="navbar navbar-inverse ">
      <div class="container-fluid">

        <div class="navigation__nav">
          <ul class="nav navbar-nav navigation__nav">
            <li><a class="link nav__link" ui-sref="app.dashboard" ui-sref-active="active">Панель управления</a></li>
            <li><a class="link nav__link" ui-sref="app.documents.list" ui-sref-active="active">Документы</a></li>
            <li><a class="link nav__link" ui-sref="app.documents.add" ui-sref-active="active">Создать документ</a></li>
            <li><button type="button" class="btn btn-primary" ng-click="$ctrl.open()">Open</button></li>
          </ul>
        </div>

      </div>
    </nav>
  </div>
</div>
